@use '../util' as u;

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  font-size: 100%;
  margin: 0;
}

a,
a:active,
a:visited {
  display: inline-block;
  text-decoration: none;
  transition: color, font-weight 300ms ease-in-out;
  &:hover {
    &,
    h3 {
      color: var(--link-hover);
      font-weight: 700;
    }
  }
}

body {
  margin: 0;
  padding: 0;
  font-family: u.$font-roboto;
  font-size: u.pxRem(18);
  font-weight: 400;
  line-height: 1.33;
  color: var(--text-black);
  background-color: var(--main-bg);
}

img,
svg {
  display: block;
}

img {
  height: auto;
  max-width: 100%;
}

ul,
button,
p {
  padding: 0;
}

ul {
  list-style-type: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  white-space: nowrap;
  border: 0;

  &.skip:focus {
    clip: auto;
    height: auto;
    width: auto;
    background: var(--main-bg);
    border: 1px solid;
    padding: 8px;
  }
}

.hover-fade {
  opacity: 1;
  transition: opacity 250ms ease-in-out;

  &:hover {
    opacity: 0.777;
  }
}
