html {
  box-sizing: border-box;
  font-size: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  background-color: var(--color-primary);
  margin: 0;
  padding: 0;
}

a,
a:visited,
a:active {
  display: inline-block;
  text-decoration: none;
  color: inherit;
}

ul {
  list-style-type: none;
}

address {
  font-style: normal;
}

.visually-hidden {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}
