:root {
  --color-primary: #ffffff;
  --color-primary-light: #2b7fff;
  --color-primary-dark: #011c44;
  --color-secondary: #ffd02b;
  --color-secondary-light: #747272;
  --color-secondary-dark: #4a4a4a;
  --color-secondary-text: #000000;
}
