@use '../util' as u;
.form {
  &,
  &__input,
  &__input:focus,
  &__input::placeholder,
  &__input:focus::placeholder {
    background-color: var(--c-blue-dark);
  }

  &,
  &__input {
    border-radius: 24px;
  }

  max-width: u.pxRem(500);

  &__title {
    margin-block-end: var(--clamp-24-32);
    text-align: center;
  }
  &__content {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: stretch;
    gap: 16px;
  }
  &__field {
    width: 100%;
    grid-column: 1/-1;
  }

  &__input {
    padding-block: var(--clamp-16-18);
    padding-inline: var(--clamp-24-32);
    border: 2px solid var(--c-grey);
    width: 100%;
    font-size: u.pxRem(13);
    line-height: 1;
    transition: border-color 300ms ease-in-out;
  }

  &__input,
  &__input::placeholder {
    color: var(--text-bg);
  }

  &__input:focus {
    outline: none;
    border-color: var(--c-blue-light);
  }

  &__policy {
    display: grid;
    justify-items: center;
    gap: 8px;
    text-align: center;

    @include u.bp(desk) {
      padding-inline: 16px;
    }
  }
  &__button {
    width: 100%;
  }
  &__policy-text {
    padding: 0;

    a,
    a:visited,
    a:active {
      text-decoration: underline;
      color: inherit;
      transition: color 300ms ease-in-out;

      &:hover {
        color: var(--link-hover);
      }
    }
  }
}
