@use '../util' as u;

h1,
h2,
h3 {
  margin: 0;
}

h1,
h2 {
  font-family: u.$font-play;
  text-align: center;
}

h2,
h3 {
  span {
    color: var(--text-light);
  }
}

h1 {
  text-transform: capitalize;
  color: var(--text-light);
  font-size: var(--clamp-52-140);
  text-transform: capitalize;
  font-weight: 700;
  line-height: 0.82;

  span {
    color: var(--text-dark);
    &.under {
      color: var(--text-light);

      @include u.bp(lap) {
        display: block;
        text-align: start;
      }
    }
  }
}

h2 {
  color: var(--text-dark);
  font-size: var(--clamp-32-64);
  font-weight: 500;
  line-height: 1;
}

h3 {
  color: var(--main-bg);
  font-family: u.$font-roboto;
  font-size: var(--clamp-20-22);
  font-weight: 400;
  line-height: 1.2;

  &.form {
    font-size: u.pxRem(22);
    font-weight: 600;
    line-height: 1;
  }
}

p {
  &.lg {
    font-size: var(--clamp-18-22);
    line-height: 1;
    color: var(--text-dark);

    @include u.bp(lap) {
      line-height: 1.73;
    }

    span {
      text-transform: capitalize;
      font-weight: 700;
    }
  }

  &.form {
    color: var(--c-grey-light);
    text-align: center;
    font-size: u.pxRem(12);
    line-height: 1.5;
  }
}
