@keyframes scaling-rotation {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: rotate(180deg);
  }
}

@keyframes translating-scaling-rotation {
  0% {
    transform: scale(3.5);
  }
  50% {
    transform: translate(-100px);
  }
  100% {
    transform: rotate(180deg);
  }
}

@keyframes scaling {
  0% {
    transform: scale(2);
  }
  50% {
    transform: scale(3.5);
  }
  100% {
    transform: scale(2);
  }
}

@keyframes rotating {
  from {
    transform: rotate(7turn);
  }

  to {
    transform: rotate(3turn);
  }
}
