@use 'sass:math';

@function pxRem($px) {
  @if math.is-unitless($px) {
    @return math.div($px, 16) + rem;
  } @else {
    @error 'Property #{$px} has units';
  }
}

@function pxEm($px) {
  @if math.is-unitless($px) {
    @return math.div($px, 16) + em;
  } @else {
    @error 'Property #{$px} has units';
  }
}
