:root {
  --shared-bg: image-set(
    url('../../../assets/img/hero-bg@2x.jpg') 2x,
    url('../../../assets/img/hero-bg@3x.jpg') 3x
  );

  --footer-bg: image-set(
    url('../../../assets/img/jar-pipette@2x.png') 2x,
    url('../../../assets/img/jar-pipette@3x.png') 3x
  );
}
