@use './brakepoints' as b;
@use 'sass:map';

@mixin bp($size) {
  @media (min-width: map.get(b.$breakpoints-min, $size)) {
    @content;
  }
}

@mixin bp-max($size) {
  @media (max-width: map.get(b.$breakpoints-max, $size)) {
    @content;
  }
}
