@use '../util' as u;

.procedures-card {
  display: flex;
  justify-content: center;
  align-items: center;

  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    position: relative;
    border-radius: u.pxRem(120) 4px;
    flex-shrink: 0;
    height: u.pxRem(456);
    width: 100%;
    background-image: linear-gradient(
      180deg,
      rgba(1, 28, 68, 0) 48.53%,
      rgba(1, 28, 68, 0.73) 84.61%,
      var(--color-primary-dark) 101.39%
    );
  }

  &__image {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  &__title {
    padding-block-start: u.pxRem(372);
    color: var(--color-primary);
    text-align: center;
    font-family: u.$font-roboto;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.2;
    width: min(100%, u.pxRem(152));
  }
}
