@use '../util' as u;

.stars {
  &__star1,
  &__star2,
  &__star3 {
    position: absolute;
  }

  &__star1:hover,
  &__star2:hover,
  &__star3:hover {
    animation: rotating 3s ease-out;
  }

  &__star1 {
    width: clamp(u.pxRem(40), 1.857143rem + 2.85714286vw, u.pxRem(64));
    height: clamp(u.pxRem(40), 1.857143rem + 2.85714286vw, u.pxRem(64));
    top: 0;
    right: 0;
    margin-block-start: 8px;
    fill: var(--color-primary-dark);
    animation: scaling-rotation 3s 3 ease-in-out;

    @include u.bp-min(bp-desktop) {
      top: 0;
      left: 0;
      margin-inline-start: 160px;
      margin-block-start: 310px;
    }
  }

  &__star2 {
    display: none;

    @include u.bp-min(bp-desktop) {
      display: flex;
      top: 0;
      right: 0;
      margin-inline-start: 495px;
      margin-block-start: 32px;
      fill: var(--color-primary-light);
      animation: translating-scaling-rotation 3s 3 ease-in-out;
    }
  }

  &__star3 {
    display: none;

    @include u.bp-min(bp-desktop) {
      display: flex;
      top: 0;
      right: 0;
      margin-inline-end: 14px;
      margin-block-start: 270px;
      fill: var(--color-secondary-light);
      animation: scaling 3s 3 ease-in-out;
    }
  }
}
