@use '../util' as u;

.why-us {
  &__content {
    isolation: isolate;
  }

  &__title {
    padding-block-start: var(--clamp-768-43-128);

    @include u.bp(desk) {
      padding-block-start: u.pxRem(176);
    }
    span {
      display: block;
    }
  }
  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: var(--clamp-16-56);
  }
  &__item {
    display: grid;
    justify-items: center;
    gap: u.pxRem(8);
    text-align: center;
    border-radius: 32px;
    background-color: var(--main-bg);
    padding: 24px 32px;
    max-width: u.pxRem(320);
    max-height: u.pxRem(192);
    overflow: hidden;
    box-shadow: 0 4px 4px 0 rgba(168, 198, 245, 0.38);
  }
  &__icon {
    width: 48px;
    height: 48px;
    margin-block-end: 12px;

    &.not {
      margin-block-end: 8px;
    }
  }
}
