@use '../util' as u;

.beauty-section {
  padding-inline: 20px;
  padding-block: clamp(u.pxRem(20), -0.892857143rem + 9.52381vw, u.pxRem(100));

  &__container {
    padding: 0;
    display: flex;
    flex-direction: column;

    @include u.bp-min(bp-desktop) {
      padding: 0 92px 70px 100px;
      flex-direction: row;
      gap: 28px;
    }
  }

  &__info {
    display: flex;
    flex-direction: column;
    gap: 40px;
    flex-grow: 7;
  }

  &__photoes {
    position: relative;
    display: flex;
    flex-direction: column;
    flex-basis: 72px;
    flex-shrink: 0;

    @include u.bp-min(bp-desktop) {
      flex-grow: 5;
      row-gap: 40px;
      flex-basis: 530px;
    }
  }

  &__photo-before,
  &__photo-after {
    display: none;

    @include u.bp-min(bp-desktop) {
      display: flex;
      border-radius: 50%;
      flex-shrink: 0;
    }
  }

  &__photo-before {
    position: absolute;
    top: -30px;
    left: 30px;
  }

  &__photo-after {
    position: absolute;
    bottom: -100px;
    right: 0;
  }

  &__title {
    max-width: 530px;
    width: 100%;
  }

  &__description {
    color: var(--color-primary-dark);
    font-family: u.$font-roboto;
    font-size: u.pxRem(18);
    font-size: clamp(u.pxRem(18), 1.0178571423rem + 0.47619041vw, u.pxRem(22));
    font-weight: 400;
    line-height: 1.7;

    @include u.bp-min(bp-tablet) {
      font-weight: 500;
    }

    @include u.bp-min(bp-laptop) {
      font-weight: 600;
    }

    @include u.bp-min(bp-desktop) {
      color: var(--color-primary-dark);
      font-weight: 700;
      max-width: 710px;
      width: 100%;
    }
  }
}
