@use '../util' as u;
@use '../global' as g;

.contacts-section {
  &__container {
    padding-inline: clamp(
      u.pxRem(0),
      -1.714285714286rem + 7.61904762vw,
      u.pxRem(64)
    );
  }

  &__title {
    text-align: center;
    padding-block-end: 32px;
  }

  &__map-form {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    gap: 24px;

    @include u.bp-min(bp-laptop) {
      flex-direction: row;
      justify-content: center;
      gap: 32px;
    }
  }

  &__map {
    width: clamp(u.pxRem(360), 16.07142857143rem + 28.57143vw, u.pxRem(600));
    height: clamp(u.pxRem(230), 7.67857143rem + 29.761904762vw, u.pxRem(480));
    border: none;

    @include u.bp-min(bp-laptop) {
      border-radius: 32px;
      flex-grow: 6;
    }
  }
  &__form {
    padding: 42px 24px;
    padding-inline: clamp(u.pxRem(24), 0.857143rem + 2.857143vw, u.pxRem(48));
    padding-block: clamp(
      u.pxRem(42),
      2.4642857143rem + 0.7142857143vw,
      u.pxRem(48)
    );
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    flex-grow: 4;
    background-color: var(--color-primary-dark);
    border-radius: 32px;
  }

  &__form-title {
    color: var(--color-primary);
    text-align: center;
    font-family: u.$font-roboto;
    font-size: 22px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    max-width: 274px;
    width: 100%;
    margin: 0 auto 24px;
    margin-inline: auto;
    margin-block-end: clamp(
      u.pxRem(24),
      1.285714286rem + 0.952381vw,
      u.pxRem(32)
    );

    $form-title: &;
    @extend #{$form-title};
    &--span {
      @extend %title-span-primary-light;
    }
  }
}
