@use '../util' as u;

.link {
  font-family: u.$font-roboto;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration: none;
  transition: color 0.2s ease-in;

  &:hover {
    color: var(--color-primary-light);
    font-weight: 700;
  }
}
