@use '../util' as u;
@use '../global' as g;

.section {
  padding: 20px 24px;
  padding-inline: clamp(u.pxRem(20), -0.892857143rem + 9.52381vw, u.pxRem(100));
  padding-block: clamp(u.pxRem(24), 0.857143rem + 2.857143vw, u.pxRem(48));

  &__title {
    color: var(--color-primary-dark);
    font-family: u.$font-play;
    font-size: u.pxRem(32);
    font-size: clamp(u.pxRem(32), 1.14286rem + 3.80952381vw, u.pxRem(64));
    font-style: normal;
    font-weight: 500;

    @include u.bp-min(bp-tablet) {
      font-weight: 700;
    }
  }

  &__title-span {
    color: var(--color-primary-light);

    &--capitalized {
      @extend %title-span-capitalized;
    }
  }
}
