@use '../util' as u;

.social-icon {
  width: u.pxRem(32);
  height: u.pxRem(32);
  fill: var(--color-primary);
  transition: fill 0.2s ease-in;

  &:hover {
    fill: var(--color-primary-light);
  }

  &--dark {
    fill: var(--color-primary-dark);
  }
}
