@use '../util' as u;

.wrapper {
  width: min(100%, u.pxRem(1200));
  margin-inline: auto;
  padding: 0;

  @include u.bp-min(bp-tablet) {
    width: min(100% - u.pxRem(48), u.pxRem(1248));
    padding: 0 u.pxRem(24);
  }
}
